.App {
  display: flex;
  text-align: center;
  justify-content: center;
}
.board {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 606px;
  height: 606px;
  border: 1px solid black;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.cell h1 {
  font-size: 5em;
}

@media only screen and (max-width: 425px) {
  .board {
    width: 372px;
    height: 372px;
  }
  .cell {
    width: 122px;
    height: 122px;
  }
}
